[Desktop Entry]
Version=1.0
Name=WhatsApp Web
Comment=WhatsApp Web App - Firefox
Exec=hypr25-whatsapp-app
Terminal=false
Type=Application
Icon=WhatsApp.png
StartupNotify=true
