[Desktop Entry]
Name=WhatsApp Web
Comment=WhatsApp Web App - Firefox
Icon=WhatsApp.png
Exec=hypr25-whatsapp-app
StartupNotify=true
Type=Application
Terminal=false
Categories=Network;Chat;
Keywords=whtspp;chat;im;messaging;messenger;privat;
